/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
--light-cyan: hsl(193, 38%, 86%);
--neon-green: hsl(150, 100%, 66%);
--grayish-blue: hsl(217, 19%, 38%);
--dark-grayish-blue: hsl(217, 19%, 24%);
--dark-blue: hsl(218, 23%, 16%);
}

/* General */
body {
    background-color: var(--dark-blue);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grayish-blue);
    border-radius: 15px;
    width: 541px;
    height: 334px;
    padding: 48px;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: var(--neon-green);
    text-transform: uppercase;
    font-size: 15px; 
    letter-spacing: 0.25rem;  
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: var(--light-cyan);
}

.dice-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neon-green);
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: var(--light-cyan);
    margin-top: 20px;
}

.attribution a {
    color: var(--neon-green);
}